In [2]:
import pandas as pd

In [5]:
# Load the confirmed cases data set
confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/9c3583084c24675d144bb121930c6dee3f80f370/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed_cases = pd.read_csv(confirmed_cases_url)

# Load the deaths data set
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths = pd.read_csv(deaths_url)

# Load the recoveries data set
recoveries_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'
recoveries = pd.read_csv(recoveries_url)

In [11]:
confirmed_cases.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/14/22,12/15/22,12/16/22,12/17/22,12/18/22,12/19/22,12/20/22,12/21/22,12/22/22,12/23/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,206788,206879,206912,206943,207037,207084,207146,207190,207239,207262
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333591,333613,333635,333635,333650,333653,333686,333708,333708,333731
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271156,271156,271156,271168,271174,271179,271182,271186,271190,271193
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47606,47606,47606,47606,47606,47606,47686,47686,47686,47686
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,104946,104946,104946,104946,104946,104946,104946,104973,104973,104973

In [18]:
# Unpivot the data
date_columns = confirmed_cases.columns[4:]
id_vars_columns = confirmed_cases.columns[:4]
confirmed_unpivoted = confirmed_cases.melt(id_vars=id_vars_columns, value_vars=date_columns, var_name='date', value_name='confirmed')
confirmed_unpivoted.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed
308358,NaN,West Bank and Gaza,31.952200,35.233200,12/23/22,703228
308359,NaN,Winter Olympics 2022,39.904200,116.407400,12/23/22,535
308360,NaN,Yemen,15.552727,48.516388,12/23/22,11945
308361,NaN,Zambia,-13.133897,27.849332,12/23/22,334021
308362,NaN,Zimbabwe,-19.015438,29.154857,12/23/22,259981

In [20]:
# Unpivot the data
date_columns = deaths.columns[4:]
id_vars_columns = deaths.columns[:4]
death_unpivoted = deaths.melt(id_vars=id_vars_columns, value_vars=date_columns, var_name='date', value_name='death')
death_unpivoted.tail()

,Province/State,Country/Region,Lat,Long,date,death
309803,NaN,West Bank and Gaza,31.952200,35.233200,12/28/22,5708
309804,NaN,Winter Olympics 2022,39.904200,116.407400,12/28/22,0
309805,NaN,Yemen,15.552727,48.516388,12/28/22,2159
309806,NaN,Zambia,-13.133897,27.849332,12/28/22,4023
309807,NaN,Zimbabwe,-19.015438,29.154857,12/28/22,5637

In [21]:
# Unpivot the data
date_columns = recoveries.columns[4:]
id_vars_columns = recoveries.columns[:4]
recovered_unpivoted = recoveries.melt(id_vars=id_vars_columns, value_vars=date_columns, var_name='date', value_name='recovered')
recovered_unpivoted.tail()

,Province/State,Country/Region,Lat,Long,date,recovered
293723,NaN,West Bank and Gaza,31.952200,35.233200,12/28/22,0
293724,NaN,Winter Olympics 2022,39.904200,116.407400,12/28/22,0
293725,NaN,Yemen,15.552727,48.516388,12/28/22,0
293726,NaN,Zambia,-13.133897,27.849332,12/28/22,0
293727,NaN,Zimbabwe,-19.015438,29.154857,12/28/22,0

In [22]:
# Merge the data sets into a single dataframe
df = confirmed_unpivoted.merge(death_unpivoted, on='date')
df = df.merge(recovered_unpivoted, on='date')
df.head()

MemoryError: Unable to allocate 182. GiB for an array with shape (24418032518,) and data type int64